html, body {
    height: 100%;
    margin-top: 0;
    padding: 0;
}
#map {
    height: 90%;
    margin-top: 20px;
}
.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.controls {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 300px;
}

.controls:focus {
    border-color: brown;
}

#findButton {
    margin-left: 10px;
}

.title {
    font-family: 'Lobster', cursive;
    color: brown;
}

.directionButton {
    margin-left: 40px;
    margin-right: 0px;
}


